[buildout]
parts = 
    project-directories
    sphinxbuilder
    pydev
    python
    pylint
    fabric
    node-js
    gunicorn

develop = .
eggs = ${project:project-name}

versions = versions
bin-directory = bin
develop-eggs-directory = lib/buildout/develop-eggs
eggs-directory = lib/buildout/eggs
#
# Setup the following in ~/.buildout/default.cfg
# for faster downloads and better buildout performance
#
# download-cache = <HOME-DIR>/.buildout/dlcache
# eggs-directory = <HOME-DIR>/.buildout/eggs
#
installed = lib/buildout/.installed.cfg
parts-directory = lib/buildout/parts

[project]
project-name = hipappear
project-version = 0.0.1
project-url = 
project-license =
author = 

[fab-template]
extends = project
recipe = z3c.recipe.filetemplate
files = fabfile.py
source-directory = etc/templates

[versions]
Fabric = 1.8.0

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[project-directories]
recipe = z3c.recipe.mkdir
paths =
    ${buildout:directory}/.buildout-cache
    ${buildout:directory}/etc
    ${buildout:directory}/lib
    ${buildout:directory}/src
    ${buildout:directory}/docs
    ${buildout:directory}/out
    ${buildout:directory}/tests
    ${buildout:directory}/config

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs
build = ${buildout:directory}/out/docs

[pydev]
recipe = pb.recipes.pydev
eggs = ${flask-tests:eggs}

[fabric]
recipe = zc.recipe.egg
unzip = true
eggs = Fabric
	   boto
	   ${buildout:eggs}
	   ${pylint:eggs}

[flask-tests]
recipe = zc.recipe.egg
projectegg = ${project:project-name}
extra-paths = tests
eggs = nose-progressive
       coverage
       mock
       ${buildout:eggs}
control-script = test

[node-js]
recipe = gp.recipe.node
npms = less jshint csslint

[pylint]
recipe = zc.recipe.egg
unzip = true
eggs = pylint
	   ${buildout:eggs}


[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}

[gunicorn]
recipe = zc.recipe.egg:scripts
dependent-scripts = true
eggs = 
    ${buildout:eggs}
    eventlet
    gunicorn
    
[elasticbeanstalk-first]
extends = project
recipe = z3c.recipe.filetemplate
source-directory = etc/templates/elasticbeanstalk

[elasticbeanstalk-second]
recipe = plone.recipe.command
command = mkdir .ebextensions; mv custom_log.config .ebextensions/; mv elasticbeanstalk.config .ebextensions/${project:project-name}.config; mv manage.py src/; rm src/${project:project-name}/wsgi.py; mv wsgi.py src/${project:project-name}/;

[elasticbeanstalk-config]
recipe = plone.recipe.command
command = bin/buildout install elasticbeanstalk-first; bin/buildout install elasticbeanstalk-second;
