HIPAPPEAR_DEBUG=True HIPAPPEAR_BASE_URL=https://52bf7ac3.ngrok.com HIPAPPEAR_KEEN_ENABLED=false HIPAPPEAR_ADDON_KEY=com.test.hipappear.test HIPAPPEAR_ADDON_NAME=TESTAPPEAR HIPAPPEAR_USERNAME=<admin username> HIPAPPEAR_PASSWORD=<admin password> HIPAPPEAR_KEEN_PROJECT_ID=<Keen.io project id> HIPAPPEAR_KEEN_WRITE_KEY=<Keen.io write key> HIPAPPEAR_KEEN_READ_KEY=<Keen.io read key> python application.py
