HIPDICT_DEBUG=True HIPDICT_BASE_URL=https://52bf7ac3.ngrok.com HIPDICT_ADDON_KEY=com.test.hipdict.test HIPDICT_ADDON_NAME=TESTDICTIONARY HIPDICT_USERNAME=admin HIPDICT_PASSWORD=admin python application.py
