{% extends "admin.html" %}
{% block title %}HipChat - Statistics{% endblock %}
{% block content %}
    <h2 class="statistics-header">Statistics</h2>
    
    <div class="aui-group" >
        <div class="aui-item text-center" align="center">
        	<div class="count-box">
                <span class="count-display">{{active_organization_installs}}</span><br/>
                <span class="count-title">Number of active Organization installs</span>
            </div>
        </div>
        <div class="aui-item text-center" align="center">
        	<div class="count-box">
                <span class="count-display">{{active_room_installs}}</span><br/>
                <span class="count-title">Number of active Room installs</span>
            </div>
        </div>
    </div>
	<div class="aui">
	  <hr>
	  <form id="configForm">
	    <div class="fieldset widget-container">
	      <div class="field-group">
	        <label>Time Frame</label>&nbsp;&nbsp;
	        <select id="select-board" name="timeFrame">
	            {% for options in time_frame_text %}
	                <option value="{{options.id}}">{{options.text}}</option>
	            {% endfor %}
	        </select> &nbsp;&nbsp;
	        <button type="button" class="aui-button aui-button-primary"
	          id="timeFrameChange">Submit</button>
	      </div>
	    </div>
	  </form>
	  <hr>
	</div>
    <div class="aui-group">
        <div class="aui-item">
            <div id="#app-installed">
            </div>
        </div>
        <div class="aui-item">
            <div id="#app-uninstalled">
         	</div>
    	</div>
    </div>
    
    <div class="aui-group">
        <div class="aui-item">
        	<div id="#number_of_url_created">
        	</div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    var client = new Keen({
          projectId: "{{project_id}}",
          readKey: "{{read_key}}"
    });
    Keen.ready(function(){
        var graphParams= {
                "#app-installed": {
                    "eventCollection": "install"
                },
                "#app-uninstalled": {
                    "eventCollection": "uninstall"
                },
                "#number_of_url_created": {
                	"eventCollection": "number_of_appear_url_created"
                }
        }
        
        var timeFrameSelected = $("#select-board").val();
        $("#timeFrameChange").click(function(){
             timeFrameSelected = $("#select-board").val();
             draw(graphParams,timeFrameSelected);
         });
                        
         draw(graphParams,timeFrameSelected);
        
     function draw(graphParams,timeFrameSelected) {
         for (key in graphParams){
            var analysisType = "count",
            params = {
                eventCollection: graphParams[key]['eventCollection'],
                timeframe: timeFrameSelected,
                interval: '{{interval}}'
                };
            var query = new Keen.Query(analysisType, params);
              client.draw(query, document.getElementById(key), {
              });
          };
          client.draw(query, document.getElementById(key), {});
     };
});
</script>
<script type="text/javascript">
$("#select-board").select2({width: '150px'});
</script>
{% endblock %}