container_commands:
  00_make_executable:
    command: "chmod a+x .ebextensions/createlogger.sh .ebextensions/logentries_install.sh"
  01_run_executable:
    command: "sh .ebextensions/createlogger.sh"
  02_wsgireplace:  
    command: "cp .ebextensions/wsgi.conf ../wsgi.conf"
  03_logentries:
    command: "sh .ebextensions/logentries_install.sh ${LOGENTRIES_LICENSE_KEY} ${LOGENTRIES_TOKEN_KEY}"
  04_newrelic:
    command: "sh .ebextensions/newrelic_change.sh ${NEW_RELIC_APP_NAME}"

option_settings:
 - option_name: LOGENTRIES_LICENSE_KEY
   value: "KEY"
 - namespace: aws:elasticbeanstalk:container:python
   option_name: WSGIPath
   value: "application.py"
 - namespace: aws:elasticbeanstalk:container:python
   option_name: NumProcesses
   value: 1
 - namespace: aws:elasticbeanstalk:container:python
   option_name: NumThreads
   value: 4
 - namespace: aws:elasticbeanstalk:container:python:staticfiles
   option_name: "/static/"
   value: "hipappear/static/"
